:root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
}

h1 {
    margin: 2rem 0;
}

main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
}

.title {
    position: absolute;

    text-align: center;
    padding-block: 2rem;
    font-size: calc(2vw + 1.5rem);
    margin: 3rem 0;
    color: white;

    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-50% - 1.2em));

    text-shadow: 0px 2px 6px rgba(0,0,0,0.36);
}

.titleContainer {
    position: fixed;
    transform: translateY(3.1em);
    width: 100vw;
    margin: 0;
    top: 0;
    left: 0;
    
    border: none;
    outline: none;
}

@keyframes bg {
    0%,
    100% {
        filter: hue-rotate(-15deg);
    }
    50% {
        filter: hue-rotate(-45deg);
    }
}

.bgAnim {
    animation: bg 4s ease-in-out infinite;
    user-select: none;
}

.sub {
    font-size: 2rem;
    padding: 1rem;
}
.content {
    font-size: 1rem;
    padding: 1rem;
}

.sub, .content, .footer {
    text-align: center;
}

.btnContainer {
    display: flex;
    justify-content: center;
}

.projectsBtn {
    outline: none;
    border-radius: 0.5em;
    border-style: solid;
    padding: 0.5em 1em;
    cursor: pointer;

    transition: all 400ms ease-in-out;

    border-color: rgb(55, 55, 55);
    background-color: rgb(225, 225, 225);
    color: black;

    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.311));

    font-size: 1.15rem;
}

.projectsBtn:is(:hover, :focus-within) {
    border-color: rgb(225, 225, 225);
    background-color: rgb(55, 55, 55);
    color: white;

    filter: drop-shadow(0 0.25rem 0.5rem rgba(0, 0, 0, 0.511));
}

.text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
    0%,
    100% {
        background-position-y: 0%;
    }
    50% {
        background-position-y: 80%;
    }
}