:root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
}

h1 {
    margin: 2rem 0;
}

main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
}

.title {
    transform: translateX(-60%);
    padding-block: 2rem;
    font-size: 3rem;
}
.sub {
    font-size: 2rem;
    padding: 1rem;
}
.content {
    font-size: 1rem;
    padding: 1rem;
}

.sub, .content, .footer {
    text-align: center;
}

.btnContainer {
    display: flex;
    justify-content: center;
}

.projectsBtn {
    outline: none;
    border-radius: 0.5em;
    border-style: solid;
    padding: 0.5em 1em;
    cursor: pointer;

    transition: all 400ms ease-in-out;

    border-color: rgb(55, 55, 55);
    background-color: rgb(225, 225, 225);
    color: black;

    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.311));

    font-size: 1.15rem;
}

.projectsBtn:is(:hover, :focus-within) {
    border-color: rgb(225, 225, 225);
    background-color: rgb(55, 55, 55);
    color: white;

    filter: drop-shadow(0 0.25rem 0.5rem rgba(0, 0, 0, 0.511));
}

.text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
    0%,
    100% {
        background-position-y: 0%;
    }
    50% {
        background-position-y: 80%;
    }
}

.instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
}

.instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
}

.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}