---
	
import Layout from '../layouts/Layout.astro';
import './index.css';
import Navbar from '../components/navbar/navbar.tsx'
import navBarItems from '../scripts/navbarItems.ts';
import navbarIcons from '../scripts/navbarIcons.ts';

import Footer from '../components/footer/footer.tsx'
---

<Layout title="Projects">
	<main>
		<Navbar navbarArray={navBarItems} navbarIcons={navbarIcons} client:load />
        
        <Footer client:idle />
	</main>
</Layout>
